<html>
	<head>
		<script>
			var plugin_uri = "{{plugins}}";
			var site_uri = "{{site.url}}";
		</script>
		<script src="{{plugins}}../admin/js/jquery-1.10.2.min.js" ></script>
		<link rel="stylesheet" href="{{plugins}}../css/all.css" />
		<link rel="stylesheet" href="{{plugins}}../css/dragula.min.css" />
	</head>
	<body class="flex-row">
		<a href="{{login_url}}"><button id="TradeButton" >Login</button></a>
	</body>
</html>